.main {
  background-color: #161b22;
  color: #f7f7f7;
  min-height: 100vh;
  /* #2f81f7 */
}

.wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.heading {
  color: #2f81f7;
}

.searchWrapper,
.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.searchInput,
.userSelect {
  border: 1px solid rgba(240, 246, 252, 0.1);
  background: #21262d;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.btn {
  border: 1px solid rgba(240, 246, 252, 0.1);
  background: #21262d;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  width: 600px;
  border-bottom: 1px solid #21262d;
  cursor: pointer;
}

.cardRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.cardRight p {
  border: 1px solid rgba(240, 246, 252, 0.1);
  background: #21262d;
  color: #f7f7f7;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  opacity: 0.9;
}
